html{
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;

}

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Adjust the last value (0.5) for transparency */
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 10px;
  visibility: visible;
  transition: opacity 0.5s ease-out, visibility 0.5s ease-out;
}

.loading-screen.hidden {
  opacity: 0;
  visibility: hidden;
}

.loading-screen img {
  animation: rotate 1.5s infinite linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#scrollToTopButton {
  display: none;
  width: 60px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #c9ccd1;
  /* Background color */
  border: none;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  /* Add a subtle shadow */
  transition: background-color 0.3s, transform 0.3s;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
}

#scrollToTopButton img {
  width: 25px;
}

#scrollToTopButton:hover {
  background-color: #F9991D;
  /* Change color on hover */
  transform: scale(1.05);
  /* Slightly scale on hover */
}


.wrapper::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: image-set('pics/home background compressed.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.3;
  /* Adjust opacity as desired */

}

.wrapper {
  height: 100vh;
  background-color: #111111;
}


.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 30px;
  background-color: transparent;
  /* Adjust the last value (0.5) for transparency */
  backdrop-filter: blur(25px);
  /* Adjust the blur value as desired */
  z-index: 9999;
  /* Adjust the z-index as needed */
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  transition: all 1s ease;

}

.navbar.scrolled {
  background-color: rgba(147, 147, 147, 0.479);
}

.navbar.scrolled a {
  color: black;
  /* Change this to your desired text color */
}

.logo {
  position: fixed;
  width: 200px;
  margin-left: 10%;
  padding-top: 0px;
  display: flex;
  z-index: 9999;
  /* Adjust the z-index as needed */
  align-items: center;
  padding-top: 10px;
}

.logo img {
  align-self: center;
  width: 50PX;
}

.navbar-toggle {
  display: none;
}

.navbar-toggle-label {
  display: none;
  cursor: pointer;
  padding: 10px;
  margin-right: 10px;
}

.navbar-toggle-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20px;
  height: 14px;
}

.hamburger-line {
  display: block;
  width: 20px;
  height: 2px;
  background-color: white;
  transition: all 0.3s ease;
}

.navbar-toggle:checked+.navbar-toggle-label .hamburger-line {
  transition: all 0.3s ease;
}

.navbar-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 50px;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 17px;
  flex-grow: 1;
  margin-right: 12%;

}

.navbar-menu li {
  margin-left: 10px;
}

.navbar-menu li a {
  text-decoration: none;
  color: white;
  transition: 0.3s ease;
  padding: 10px;
  border-radius: 10px;
}

.navbar-menu li a:hover,
#home {
  background-color: #F9991D;
  color: white;
}

.homepage {
  margin-bottom: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.introduction {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.col1 {
  width: 100%;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-shadow: 1px 1px 2px black;
  color: white;
}

.col1 h1 {
  margin-bottom: 0;
  font-size: 60px;
  text-transform: uppercase;
  line-height: 1.3em;
  opacity: 0;
  transform: translatex(-100px);
  animation: a2 10s infinite;
  animation-delay: 1s;
}

@keyframes a2 {

  0%,
  100% {

    opacity: 0;
    transform: translatex(-100px);

  }

  10%,
  90% {
    opacity: 1;
    transform: translatex(0px);
  }
}

.col1 .text-center {
  margin-top: 5px;
  margin-bottom: 0px;
  font-size: 25px;
  font-weight: 400;
  text-transform: capitalize;
  opacity: 0;
  transform: translateY(-100px);
  animation: appearAndDisappear 10s infinite;
  animation-delay: 0.2s;

}


@keyframes appearAndDisappear {

  0%,
  100% {

    opacity: 0;
    transform: translateY(-100px);

  }

  10%,
  90% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.text-bottom1 {
  opacity: 0;
  transform: translateY(100px);
  animation: a3 10s infinite;
  animation-delay: 1s;
  font-size: 20px;
}

@keyframes a3 {

  0%,
  100% {

    opacity: 0;
    transform: translateY(100px);

  }

  10%,
  90% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.col1 .buttons {
  display: flex;

}

.col1 .buttons .service_btn,
.request_btn {
  font-weight: 500;
  color: #FFFFFF;
  background-color: #F9991D;
  border-radius: 10px 10px 10px 10px;
  font-size: 16px;
  padding: 15px 30px;
  border: 1px solid white;
  cursor: pointer;
  opacity: 0;
  transform: translateY(100px);
  animation: a4 infinite;
  animation-duration: 10s;
  animation-delay: 1.5s;
  transition: all 0.3s ease;
}

@keyframes a4 {

  0%,
  100% {

    opacity: 0;
    transform: translateY(100px);

  }

  10%,
  90% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.col1 .buttons .request_btn {
  margin-left: 20px;
  background-color: transparent;
  transition: all 0.3s ease;
}

.col1 .buttons .service_btn:hover,
.col1 .buttons .request_btn:hover {
  background-color: white;
  color: black;
}

.wrapper2 {
  padding-top: 100px;
  padding-bottom: 200px;
}

.whoarewe {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background-color: #222222;
  border-radius: 50px;
  opacity: 0;
  transform: translateX(-100px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;

}

.whoarewe.show {
  opacity: 1;
  transform: translateX(0);
}

.whoarewe .content {
  width: 50%;
  text-align: justify;
  color: rgb(150, 150, 150);
  line-height: 2em;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-top: 50px;
}

.whoarewe .content h1 {
  text-align: right;
  color: white;
}

.whoarewe .image {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.servicepage {
  margin-top: 150px;
  margin-bottom: 150px;
}

.title {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}

.title h1 span {
  color: #21758F;
}

.service_collection {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  margin-top: 25px;
}

.services {
  position: relative;
  display: flex;
  width: 280px;
  color: #909090;
  flex-direction: column;
  background: linear-gradient(to bottom, #21758F, #222222);
  padding: 20px;
  border-radius: 10px;
  opacity: 0;
  transform: translateX(100px);
  transition: opacity 0.5s, transform 0.5s, background-color 0.8s ease;
  cursor: pointer;
}

.pic {
  opacity: 0;
  transform: translateX(100px);
  transition: opacity 0.5s, transform 0.5s;
}

.services.animate,
.pic.animate {
  opacity: 1;
  transform: translateX(0);
}



.services .content {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.services .content h5 {
  margin: 0;
  color: white;
}

.service_image {
  position: absolute;
  top: 10px;
  left: 15px;
  width: 50px;
  height: 50px;
  opacity: 1;
  transition: opacity 0.8s ease;
}

.service_image.white {
  opacity: 0;
}

.services:hover {
  background-color: #212C4F;
}

.services:hover .service_image.blue {
  opacity: 0;
}

.services:hover .service_image.white {
  opacity: 1;
}

.video-background {
  position: relative;
  width: 90%;
  margin: 0 auto;
  height: 100%;
  padding-bottom: 46.25%;
  /* 16:9 aspect ratio */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;


}

.image-gallery {
  width: 50%;
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100px;
  display: flex;
  gap: 25px;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  padding: 10px;
}

.image-gallery img {
  display: inline-block;
  margin-right: 10px;
  width: 150px;
  height: 100px;
  object-fit: contain;
}

.portfolio {
  width: 90%;
  margin: 0 auto;
}

.img-collection {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  height: 1800px;
  overflow: hidden;
  gap: 25px;
}

.pic {
  overflow: hidden;

  border-radius: 25px;
}

.pic img {
  width: 400px;
  border-radius: 25px;
  transition: all 0.2s ease-in;

}


.pic:nth-child(3) {
  height: auto;
}


.pic img:hover {
  transform: scale(1.05);
}

/* Responsive adjustments */
@media screen and (max-width: 1400px) {
  .portfolio {
    width: 100%;
  }
}

@media screen and (max-width: 1270px) {

  .pic {
    width: 30%;
  }

  .pic img {
    width: 100%;
    border-radius: 25px;
    transition: all 0.2s ease-in;

  }
}

.contactus {
  display: flex;
  width: 90%;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #21758F, #222222);
  color: white;
  margin-top: 200px;
  gap: 20px;
}

.contactus .image {
  width: 40%;
  display: flex;
  justify-content: center;
}

.contactus .image img {
  width: 65%;
}

.contactus .text {
  width: 40%;
}

.contactus .contact_button {
  width: 20%;
  display: flex;
  justify-content: center;
}

.contactus .contact_button button {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #F9991D;
  border: 0px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  cursor: pointer;
}

.contactus .contact_button button:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.black-footer {
  background-color: #111111;
  color: #ffffff;
  padding: 50px;
  border-radius: 50% / 30px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;

}

.footer-left {
  float: left;
  width: 50%;

}

.footer-left img {
  width: 10%;
}

.footer-left .social-icons {
  display: flex;
  gap: 10px;
  position: relative;
}

.footer-left .social-icons a img {
  width: 25px;
}

.social-container {
  position: relative;
  width: 25px;
  display: flex;
  color: #909090;
  flex-direction: column;
  cursor: pointer;
  transition: all 0.2s ease-in;

}

.social-container img {
  position: absolute;
  width: 25px;
  opacity: 1;
  padding-top: 3px;
  transition: all 0.8s ease;
  border-radius: 5px;
}

.social_image.white {
  opacity: 0;
}



.social-container:hover .social_image.blue {
  opacity: 0;
}

.social-container:hover .social_image.white {
  opacity: 1;
}

.footer-left .social-icons .threads.social-container:hover img {
  background-color: white;
}

.company-quote {
  margin: 0;
  font-size: 18px;
}

.phone-number {
  margin-top: 5px;
  font-size: 14px;
}

.footer-right {
  float: right;
  width: 50%;
  text-align: right;
}

.quick-links-title {
  margin: 0;
  font-size: 16px;
}

.quick-links {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

.quick-links li {
  margin-bottom: 5px;
}

.quick-links li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  transition: all 0.2s ease;
}

.quick-links li a:hover {
  color: #F9991D;
}

.footer-bottom {
  clear: both;
  text-align: center;
  margin-top: 20px;
}

.company-name {
  margin: 0;
  font-size: 14px;
  color: #21758F;
}


@media (max-width:1110px) {

  .col1 h1 {
    font-size: 45px;
  }

  .col1 h5 {
    font-size: 17px;
  }

  .wrapper::before,
  .wrapper {
    height: 80vh;
  }

  .img-collection {
    height: 1500px;
  }
}

@media (max-width:1000px) {
  .logo {
    margin-left: 4%;
  }

  .navbar-menu {
    margin-right: 10%;
  }

  .wrapper::before,
  .wrapper {
    height: 75vh;
  }

  .col1 {
    width: 100%;
    word-wrap: break-word;
  }

  .col1 .text-center {
    font-size: 20px;
  }

  .col1 h1 {
    margin-bottom: 0;
    font-size: 40px;
    text-transform: uppercase;
    line-height: 1.3em;
  }

  .col1 h5 {
    margin-top: 5px;
    font-size: 19px;
    font-weight: 400;
    text-transform: capitalize;
  }

  .image-gallery {
    width: 60%;
    height: 80px;
  }

  .img-collection {
    height: 1400px;
  }


  .contactus {
    width: 95%;
    padding-right: 10px;
    background-color: #F9991D;
  }
  .contactus .contact_button button {
    width: 150px;
    height: 150px;
    
  }
  
}

@media (max-width:860px) {
  .logo {
    margin-left: 2%;
  }

  .wrapper::before,
  .wrapper {
    height: 65vh;
  }

  .navbar-menu {
    margin-right: 8%;
  }

  .whoarewe .content {
    width: 50%;
    text-align: start;
    color: #909090;
    line-height: 1.5em;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-top: 50px;
    word-spacing: 1px;
  }

  .whoarewe .content h1 {
    text-align: right;
    color: white;
  }

  .whoarewe .image {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .img-collection {
    height: 1200px;
  }

  .contactus .contact_button button {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #F9991D;
    border: 0px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }

}


@media (max-width: 768px) {
  .logo {

    margin-left: 5%;

  }

  .navbar {
    flex-direction: column;
    align-items: flex-end;

  }

  .navbar-toggle {
    display: block;
    opacity: 0;
  }

  .navbar-toggle-label {
    display: block;
    order: -1;
  }

  .navbar-menu {
    position: absolute;
    top: 120px;
    visibility: hidden;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* Added */
    justify-content: center;
    /* Added */
    background-color: rgba(0, 0, 0, 0.1);
    /* Adjust the last value (0.5) for transparency */
    backdrop-filter: blur(10px);
    /* Adjust the blur value as desired */
    z-index: 9999;
    /* Adjust the z-index as needed */
    height: 70vh;
    font-size: 20px;
    margin-right: 0%;
    gap: 0px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;


  }

  .navbar-menu li {
    margin: 30px 0;

  }

  .navbar-menu li a {
    color: white;

  }

  .navbar-toggle:checked~.navbar-menu {
    opacity: 1;
    visibility: visible;
  }

  .navbar-toggle:checked+.navbar-toggle-label .hamburger-line:nth-child(1) {
    transform: rotate(45deg) translate(4px, 3px);
  }

  .navbar-toggle:checked+.navbar-toggle-label .hamburger-line:nth-child(2) {
    opacity: 0;
  }

  .navbar-toggle:checked+.navbar-toggle-label .hamburger-line:nth-child(3) {
    transform: rotate(-45deg) translate(4px, -3px);
  }

  .wrapper::before,
  .wrapper {
    height: 80vh;

  }

  .homepage {
    margin-bottom: 0px;
  }

  .introduction {
    display: flex;
    width: 85%;
    margin: 0 auto;
    text-align: center;
    margin-top: 0px;

  }

  .col1 .text-center {
    font-size: 16px;
  }

  .col1 h1 {
    font-size: 35px;
  }

  .col1 .text-bottom1 {
    font-size: 15px;
  }

  .whoarewe {
    flex-direction: column;
    gap: 30px;
  }

  .whoarewe .content {
    width: 90%;
    word-wrap: break-word;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .whoarewe .content h1 {
    text-align: center;
  }

  .whoarewe .image {
    order: -1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }

  .testimonials {
    width: 90%;

  }

  .testimonials .people {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer-right {
    margin-top: 50px;
  }
}


@media (max-width:680px) {

  .wrapper::before,
  .wrapper {
    height: 80vh;
  }

  .introduction {
    flex-direction: column;

  }

  .col1 {
    width: 100%;
    word-wrap: break-word;
  }

  .col1 h1 {
    margin-bottom: 0;
    font-size: 40px;
    text-transform: uppercase;
    line-height: 1.3em;
  }

  .col1 h5 {
    margin-top: 5px;
    font-size: 12px;
    font-weight: 400;
    text-transform: capitalize;
  }

  .wrapper2 {
    padding-bottom: 70px;
  }

  .image-gallery {
    width: 80%;
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 50px;
    display: flex;
    gap: 25px;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    padding: 10px;
  }

  .image-gallery img {
    display: inline-block;
    margin-right: 10px;
    width: 150px;
    height: 50px;
    object-fit: contain;
  }

  .img-collection {
    height: 1000px;
  }

  .contactus {
    margin-top: 100px;
  }

  .contactus .image {
    width: 0%;
    display: flex;
    justify-content: center;
  }

  .contactus .text {
    width: 70%;
  }

  .contactus .contact_button {
    width: 30%;
    display: flex;
    justify-content: center;
  }

  .contactus .contact_button button {
    width: 150px;
    height: 150px;

  }

  .black-footer {
    padding: 10px;

  }

  .footer-left,
  .footer-right {
    float: none;
    width: 100%;
    text-align: center;
  }

  .footer-left .social-icons {
    justify-content: center;
    margin-bottom: 50px;
  }

  .footer-left .social-icons a img {
    width: 20px;
  }

  .company-quote {
    font-size: 16px;
  }

  .phone-number {
    font-size: 12px;
  }

  .quick-links-title {
    font-size: 14px;
  }

  .quick-links li a {
    font-size: 12px;
  }

  .company-name {
    font-size: 12px;
  }
}

@media (max-width:598px) {
  .img-collection {
    height: 900px;
  }
}

@media (max-width:490px) {

  .wrapper::before,
  .wrapper {
    height: 70vh;
  }

  .introduction,
  .homepage {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .col1 h1 {
    margin-bottom: 0;
    font-size: 30px;
    text-transform: uppercase;
    line-height: 1.1em;
  }

  .col1 h5 {
    margin-top: 5px;
    font-size: 10px;
    font-weight: 400;
    text-transform: capitalize;
  }


  .col1 .buttons .service_btn,
  .request_btn {
    font-size: 12px;
    padding: 10px 25px;
  }

  .whoarewe {
    width: 90%;
  }

  .whoarewe .content {
    width: 90%;
    word-wrap: break-word;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .whoarewe .content h1 {
    font-size: 20px;
  }

  .whoarewe .content p {
    font-size: 12px;
  }

  .whoarewe .image {
    order: -1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }

  .whoarewe .image img {
    width: 80px;

  }

  .video-background {
    position: relative;
    width: 95%;
    margin: 0 auto;
    height: 100%;
    padding-bottom: 66.25%;
    /* 16:9 aspect ratio */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;

  }





  .testimonials .people .person {
    width: 100%;
  }

  .pic {
    width: 45%;
  }

  .img-collection {
    height: 1600px;
  }

  .contactus .text h1 {
    font-size: large;
  }

  .contactus .text p {
    font-size: medium;
  }

  .contactus .contact_button button {
    width: 100px;
    height: 100px;

  }

}

@media (max-width:420px) {
  .img-collection {
    height: 1500px;
  }

  .contactus {
    margin-top: 10px;
  }
}

@media (max-width:395px) {
  .img-collection {
    height: 1300px;
  }

  .contactus {
    margin-top: 10px;
  }
}