html{
    scroll-behavior: smooth;
}
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    /* background-color: #2A6482; */
    overflow-x: hidden;

}

.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    /* Adjust the last value (0.5) for transparency */
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease-out, visibility 0.5s ease-out;
}

.loading-screen.hidden {
    opacity: 0;
    visibility: hidden;
}

.loading-screen img {
    animation: rotate 1.5s infinite linear;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


#scrollToTopButton {
    display: none;
    width: 60px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #c9ccd1;
    /* Background color */
    border: none;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    /* Add a subtle shadow */
    transition: background-color 0.3s, transform 0.3s;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
}

#scrollToTopButton img {
    width: 25px;
}

#scrollToTopButton:hover {
    background-color: #F9991D;
    /* Change color on hover */
    transform: scale(1.05);
    /* Slightly scale on hover */
}


.wrapper::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: image-set('pics/young-woman-watching-live-stream_53876-102030.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
    /* Adjust opacity as desired */

}

.wrapper {
    background-color: #000000;
    height: 100vh;
}

.navbar {
    position: fixed;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 30px;
    background-color: rgba(0, 0, 0, 0.1);
    /* Adjust the last value (0.5) for transparency */
    backdrop-filter: blur(10px);
    /* Adjust the blur value as desired */
    z-index: 999;
    /* Adjust the z-index as needed */
    width: 100%;
    top: 0;
    transition: all 0.5s ease;


}

.navbar.scrolled {
    background-color: rgba(108, 108, 108, 0.479)
}

.navbar.scrolled a {
    color: black;
    /* Change this to your desired text color */
}

.logo {
    position: fixed;
    width: 200px;
    margin-left: 10%;
    padding-top: 0px;
    display: flex;
    z-index: 9999;
    /* Adjust the z-index as needed */
    align-items: center;
    padding-top: 10px;
    top: 0;
}

.logo img {
    align-self: center;
    width: 50PX;
}

.navbar-toggle {
    display: none;
}

.navbar-toggle-label {
    display: none;
    cursor: pointer;
    padding: 10px;
    margin-right: 10px;
}

.navbar-toggle-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20px;
    height: 14px;
}

.hamburger-line {
    display: block;
    width: 20px;
    height: 2px;
    background-color: white;
    transition: all 0.3s ease;
}

.navbar-toggle:checked+.navbar-toggle-label .hamburger-line {
    transition: all 0.3s ease;
}

.navbar-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 50px;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 17px;
    flex-grow: 1;
    margin-right: 12%;

}

.navbar-menu li {
    margin-left: 10px;
}

.navbar-menu li a {
    text-decoration: none;
    color: #fff;
    transition: 0.3s ease;
    padding: 10px;
    border-radius: 10px;
}

.navbar-menu li a:hover,
#service {
    background-color: #F9991D;
    color: white;
}

.homepage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    z-index: 10000;
}

.introduction {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 100%;
    margin: 0 auto;
    z-index: 99;

}

.col1 {
    width: 100%;
    height: 100%;
    word-wrap: break-word;
    /* text-shadow: 1px 1px 2px white; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fffefc;
    text-align: center;

}

.col1 h1 {
    margin-bottom: 0;
    font-size: 50px;
    text-transform: uppercase;
    line-height: 1.3em;

}

.col1 h5 {
    margin-top: 5px;
    font-size: 22px;
    font-weight: 400;
    text-transform: capitalize;

}

.col1 .buttons {
    display: flex;
}

.col1 .buttons .request_btn {
    font-weight: 500;
    color: #FFFFFF;
    border-radius: 10px 10px 10px 10px;
    font-size: 16px;
    padding: 15px 30px;
    border: 1px solid white;
    cursor: pointer;
    background-color: transparent;
    transition: all 0.3s ease;
}


.col1 .buttons .request_btn:hover {
    background-color: white;
    color: black;
}

/* .col2 {
    width: 40%;
    
}

.col2 .image {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.col2 .image img {
    width: 70%;
} */
.total-information {
    width: 78%;
    margin: 0 auto;
}

.total-information .info {
    text-align: center;
    margin-bottom: 150px;
    transition: opacity 0.5s ease-in-out;
}

.total-information .info h1 {
    color: #FFFFFF;
}

.total-information .info .notes {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;

}

.total-information .info .notes .note {
    border-radius: 10px;
    padding: 20px 10px;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.05), 0 1.5rem 2.2rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.3s ease-in;
    background: linear-gradient(to bottom, #21758F, #222222);
    width: 350px;
    height: auto;
    margin-top: 50px;
    opacity: 0;
    transform: translateX(100px);
    transition: opacity 0.5s, transform 0.5s;

}

.wrapper2 .total-information h1 {
    color: #2A6482;
}

.total-information .note h4,
p {
    color: black;
}

.total-information .note h4 {
    color: white;
}

.total-information .info .notes .note.animate {
    opacity: 1;
    transform: translateX(0);
}

.total-information .info .notes .note p {
    color: gray;

}

.total-information .info .notes .note:hover {
    transform: translateY(-10px);
}

.conclusion {
    text-align: center;
    margin-bottom: 30px;
    animation: fadeInUp 1s ease-in-out forwards;
}

.conclusion h4 {
    font-size: 24px;
    color: #2A6482;
    margin-bottom: 20px;
}

.conclusion p {
    font-size: 16px;
    margin-bottom: 15px;
}

.contact-button {
    display: inline-block;
    padding: 12px 28px;
    border-radius: 15px;
    background-color: #ffa13d;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    border: 0px;
}

.contact-button:hover {
    background-color: #ff921e;
    transform: scale(1.05);
}


.black-footer {
    background-color: #111111;
    color: #ffffff;
    padding: 50px;
    margin-top: 200px;
    border-radius: 50% / 30px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.company-quote,
.phone-number,
.copyright {
    color: white;
}

.company-name {
    color: #2A6482;
}

.footer-left {
    float: left;
    width: 50%;

}

.footer-left img {
    width: 10%;
}

.footer-left .social-icons {
    display: flex;
    gap: 10px;
    position: relative;
}

.footer-left .social-icons a img {
    width: 25px;
}

.social-container {
    position: relative;
    width: 25px;
    display: flex;
    color: #909090;
    flex-direction: column;
    cursor: pointer;
    transition: all 0.2s ease-in;

}

.social-container img {
    position: absolute;
    width: 25px;
    opacity: 1;
    padding-top: 3px;
    transition: all 0.8s ease;
    border-radius: 5px;
}

.social_image.white {
    opacity: 0;
}



.social-container:hover .social_image.blue {
    opacity: 0;
}

.social-container:hover .social_image.white {
    opacity: 1;
}

.footer-left .social-icons .threads.social-container:hover img {
    background-color: white;
}

.company-quote {
    margin: 0;
    font-size: 18px;
}

.phone-number {
    margin-top: 5px;
    font-size: 14px;
}

.footer-right {
    float: right;
    width: 50%;
    text-align: right;
}

.quick-links-title {
    margin: 0;
    font-size: 16px;
}

.quick-links {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

.quick-links li {
    margin-bottom: 5px;
}

.quick-links li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    transition: all 0.2s ease;
}

.quick-links li a:hover {
    color: #F9991D;
}

.footer-bottom {
    clear: both;
    text-align: center;
    margin-top: 20px;
}

.company-name {
    margin: 0;
    font-size: 14px;
}




@media (max-width:1000px) {
    .logo {
        margin-left: 4%;
    }

    .navbar-menu {
        margin-right: 10%;
    }

    .wrapper::before,
    .wrapper {
        background-color: #000000;
        height: 70vh;
    }

    .col1 {
        width: 100%;
        word-wrap: break-word;
    }

    .col1 h1 {
        margin-bottom: 0;
        font-size: 40px;
        text-transform: uppercase;
        line-height: 1.3em;
    }

    .col1 h5 {
        margin-top: 5px;
        font-size: 19px;
        font-weight: 400;
        text-transform: capitalize;
    }


}

@media (max-width:860px) {
    .logo {
        margin-left: 2%;
    }

    .navbar-menu {
        margin-right: 8%;
    }

}

@media (max-width: 768px) {
    .logo {

        margin-left: 5%;

    }

    .navbar {
        flex-direction: column;
        align-items: flex-end;

    }

    .navbar-toggle {
        display: block;
        opacity: 0;
    }

    .navbar-toggle-label {
        display: block;
        order: -1;
    }

    .navbar-menu {
        position: absolute;
        top: 120px;
        visibility: hidden;
        flex-direction: column;
        align-items: center;
        width: 100%;
        /* Added */
        justify-content: center;
        /* Added */
        background-color: rgba(0, 0, 0, 0.1);
        /* Adjust the last value (0.5) for transparency */
        backdrop-filter: blur(10px);
        /* Adjust the blur value as desired */
        z-index: 9999;
        /* Adjust the z-index as needed */
        height: 70vh;
        font-size: 20px;
        margin-right: 0%;
        gap: 0px;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease;


    }

    .navbar-menu li {
        margin: 30px 0;

    }

    .navbar-menu li a {
        color: white;

    }

    .navbar-toggle:checked~.navbar-menu {
        opacity: 1;
        visibility: visible;
    }

    .navbar-toggle:checked+.navbar-toggle-label .hamburger-line:nth-child(1) {
        transform: rotate(45deg) translate(4px, 3px);
    }

    .navbar-toggle:checked+.navbar-toggle-label .hamburger-line:nth-child(2) {
        opacity: 0;
    }

    .navbar-toggle:checked+.navbar-toggle-label .hamburger-line:nth-child(3) {
        transform: rotate(-45deg) translate(4px, -3px);
    }



    .introduction {
        display: flex;
        width: 85%;
        margin: 0 auto;
        margin-top: 100px;

    }

    .col1 h1 {
        font-size: 35px;
    }

    .col1 .buttons .request_btn {
        font-size: 14px;
        padding: 10px 20px;
    }

    .col1 h5 {
        font-size: 17px;
    }

    .footer-right {
        margin-top: 50px;
    }

}

@media (max-width:680px) {

    .wrapper,
    .wrapper::before {
        height: 70vh;
    }

    .introduction {
        flex-direction: column;
    }

    .col1 {
        width: 100%;
        word-wrap: break-word;
    }

    .col1 h1 {
        margin-bottom: 0;
        font-size: 40px;
        text-transform: uppercase;
        line-height: 1.3em;
    }

    .col1 h5 {
        margin-top: 5px;
        font-size: 12px;
        font-weight: 400;
        text-transform: capitalize;
    }

    .total-information {
        width: 90%;
        margin: 0 auto;
    }


    .black-footer {
        padding: 10px;
    }

    .footer-left,
    .footer-right {
        float: none;
        width: 100%;
        text-align: center;
    }

    .footer-left .social-icons {
        justify-content: center;
    }

    .footer-left .social-icons a img {
        width: 20px;
    }

    .company-quote {
        font-size: 16px;
    }

    .phone-number {
        font-size: 12px;
    }

    .quick-links-title {
        font-size: 14px;
    }

    .quick-links li a {
        font-size: 12px;
    }

    .company-name {
        font-size: 12px;
    }
}

@media (max-width:490px) {
    .introduction {
        margin-top: 50px;
    }

    .col1 h1 {
        margin-bottom: 0;
        font-size: 30px;
        text-transform: uppercase;
        line-height: 1.1em;
    }

    .col1 h5 {
        margin-top: 5px;
        font-size: 10px;
        font-weight: 400;
        text-transform: capitalize;
    }

    .col1 .buttons .request_btn {
        font-size: 12px;
        padding: 10px 20px;
    }

    .col2 .image img {
        width: 70%;
    }

    .col1 .buttons .service_btn,
    .request_btn {
        font-size: 12px;
        padding: 10px 25px;
    }

    .total-information .info h1 {
        font-size: 22px;
    }

    .total-information .info p {
        font-size: 14px;
    }

    .conclusion h4 {
        font-size: 22px;
        color: #2A6482;
        margin-bottom: 20px;
    }

    .conclusion p {
        font-size: 14px;
        margin-bottom: 15px;
    }

}